$main-color: rgb(59, 71, 99);
$second-color: rgb(43, 55, 82);
$third-color: rgb(44, 53, 101);

$common-color1: rgba(227, 227, 227, 1); //second color of gradient layout-header and layout-footer elements
$common-color2: rgba(255, 255, 255, 1);




$dark-color: rgb(61, 67, 136);

$disabled-color1:rgb(173, 173, 173);
$disabled-color2:rgb(150, 150, 150);

//errors, cancel buttons
$negative-color: #ff4344;
//default-buttons, lines, separators
$neutral-color: rgba(255, 255, 255, 0.7);
//apply buttons, positive text
$positive-color: #75c574;

$menu-auth-links-color: #7affa8;
$menu-logout-link-color: #ff6565;

$font-color: #000000;
$disabled-font-color1: rgb(239, 239, 239);
$disabled-font-color2: rgb(136, 136, 136);
$second-font-color: white;

$title-font-family: 'Roboto Slab', cursive;
$default-font-family: 'Comfortaa', cursive;


//mobile
$menu-button-size: 28px;
$menu-button-color: $common-color2;
$menu-button-opacity: .9;

$menu-gradient-color1: #27354f;
$menu-gradient-color1-pos: 33%;
$menu-gradient-color2: #1d2540;
$menu-gradient-color2-pos: 80%;



//height, width, position
$header-height:56px;
$footer-height:42px;


//margins
$_horizontal-margin: 15%;


$header-layout-margin: 0 $_horizontal-margin;
$footer-layout-margin: 0 $_horizontal-margin;



