$main-color: #a6657d;
$second-color: rgb(132, 75, 96);

$common-color1: rgba(227, 227, 227, 1); //second color of gradient layout-header and layout-footer elements
$common-color2: rgba(255, 255, 255, 1);




$third-color: rgb(95, 103, 202);
$dark-color: rgb(61, 67, 136);

$disabled-color1:rgb(173, 173, 173);
$disabled-color2:rgb(150, 150, 150);

//errors, cancel buttons
$negative-color: #ff4344;
//default-buttons, lines, separators
$neutral-color: #a8a8a8;
//apply buttons, positive text
$positive-color: #75c574;

$menu-auth-links-color: #36b536;
$menu-logout-link-color: #e04f4f;

$font-color: #000000;
$disabled-font-color1: rgb(239, 239, 239);
$disabled-font-color2: rgb(136, 136, 136);
$second-font-color: white;
$fantastic-text-shadow: 0 0px 2px, 0 2px 6px rgba(0, 0, 0, 0.41);

$title-font-family: 'Roboto Slab', cursive;
$default-font-family: 'Comfortaa', cursive;

//height, width, position
$header-height:56px;
$footer-height:56px;


//margins
$_horizontal-margin: 15%;


$header-layout-margin: 0 $_horizontal-margin;
$footer-layout-margin: 0 $_horizontal-margin;



