$main-color: rgb(247, 247, 246);
$second-color: #7883ff;
$third-color: rgb(95, 103, 202);
$dark-color: rgb(61, 67, 136);

$disabled-color1:rgb(173, 173, 173);
$disabled-color2:rgb(150, 150, 150);


$bad-color: #ff4344;

$font-color: #000000;
$disabled-font-color1: rgb(239, 239, 239);
$disabled-font-color2: rgb(136, 136, 136);
$second-font-color: white;
$fantastic-text-shadow: 0 0px 2px, 0 2px 6px rgba(0, 0, 0, 0.41);

$title-font-family: 'Roboto Slab', cursive;
$default-font-family: 'Comfortaa', cursive;
