@import "~sass/variables";
@import "~sass/mixins";

.form{
  width: auto;
  max-width: 346px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: transparent;
  text-align: left;
  color: $main-color;
  text-shadow: 0 1px 1px rgba($main-color, 0.5);
  label{
    padding: 5px 0 20px;
    input{
      display: block;
      width: 100%;
      padding: 10px 0 5px;
      font-size: 16px;
      border: none;
      box-shadow: 0 1px 0 0 #9d657a;
      background: transparent;
      color: $main-color;
      text-shadow: 0 1px 1px #a5657d;
      font-family: "Comfortaa", cursive;
      &.ng-invalid{
        &:not(.ng-pristine){
          box-shadow: 0 1px 0 0 $negative-color;
          color: $negative-color;
          text-shadow: 0 1px 1px $negative-color;
        }
      }
      &.ng-valid {
        color: #2aa750 !important;
        text-shadow: 0 1px 1px #47d071 !important;
      }
    }
  }

  &.ng-invalid{
    &:not(.ng-pristine){
      button.positive{
        @include block-button();
      }
    }
  }


  .form-actions{
    display:flex;
    justify-content: center;
  }
}
