/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto+Slab:300');

body, html {
  margin: 0;
  padding: 0;
}


body {
  font-family: $default-font-family;
  color: $font-color;
  background: url('/assets/background.png');
  user-select: none;
  /* overflow: hidden; */
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
}

*, body * {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header, menu {
  margin: 0;
  padding: 0;
  display: initial;
}

button, input{
  outline: none;
}

button.close {
  width: 28px;
  height: 28px;
  background-size: cover;
  border: none;
  z-index: 2;
  /* border-radius: 15px; */
  cursor: pointer;
}

.page {
  margin: $header-height $_horizontal-margin $footer-height;
  min-height: calc(100% - #{$footer-height});
  padding: 24px 0;
  position: relative;
  > *:nth-child(2) {
    > .title {
      text-align: center;
      margin-bottom: 24px;
      span {
        font-size: 26px;
        background: url(/assets/background-header.jpg);
        background-position-y: top;
        background-position-x: left;
        color: $second-font-color;
        padding: 2px 5px;
        text-shadow: 0 0px 2px, 0 2px 6px rgba(0, 0, 0, 0.41);;
        font-family: $title-font-family;
      }
    }
  }
}

.separator {
  margin: 0 5px;
  color: $neutral-color;
  text-shadow: none;
  &:before {
    display: inline-block;
    content: '|';
  }
}


#ngx-loading-bar{
  display: block;
  $spinner-size: 14px;
  $spinner-padding: 5px;

  div#loading-bar-spinner{
    display: block;
    position: absolute;
    z-index: 10002;
    top: calc(100% - #{$spinner-size} - #{$spinner-padding});
    left: #{$spinner-padding};
    border-radius: inherit;
    color: #6695e7;
    >.spinner-icon{
      width: $spinner-size;
      height: $spinner-size;
      border: solid 2px transparent;
      border-top-color: inherit;
      border-left-color: inherit;
    }
  }
  div#loading-bar{
    .bar{
      background: #6695e7;
      box-shadow: 0 1px 5px #5d85cc, 0 3px 10px #5d85cc;
      position: absolute;
      z-index: 10002;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      .peg{
        color:#8cb6ff;
      }
    }
  }
}








//adaptive layout-header, layout-footer and page content wrapper(.page)
@media only screen and (max-width: 1190px) {
  $new_horizontal_margin: $_horizontal-margin - 5%;
  layout-footer, layout-header {
    margin: 0 $new_horizontal_margin !important;
  }
  .page {
    margin: $header-height $new_horizontal_margin $footer-height !important;
  }
  layout-header,layout-footer {
    width: 100% - ($new_horizontal_margin * 2) !important;
  }
}

@media only screen and (max-width: 890px) {
  $new_horizontal_margin: 15px;
  layout-footer, layout-header {
    margin: 0 $new_horizontal_margin !important;
  }
  .page {
    margin: $header-height $new_horizontal_margin $footer-height !important;
  }
  layout-header,layout-footer {
    width: calc(100% - #{($new_horizontal_margin * 2)}) !important;
  }
}

@media only screen and (max-width: 740px) {
  body {
    font-size: 14px;
  }
  $new_horizontal_margin: 5px;
  layout-footer, layout-header {
    margin: 0 $new_horizontal_margin !important;
  }
  .page {
    margin: $header-height $new_horizontal_margin $footer-height !important;
  }
  layout-header,layout-footer {
    width: calc(100% - #{($new_horizontal_margin * 2)}) !important;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
