<div class="title">
  <span>About application</span>
</div>
<div class="content">
  This application was created to learn <b>Angular 5 framework and TypeScript language</b>.
</div>
<div class="content">
  This application contains all the features of the Angular 5 framework. I've created one interceptor, two guards,
  some services and components. Also style written on SASS preprocessor and all color palette contains in
  <code>app/sass/_variables.scss</code> and basic style options application contains in
  <code>app/sass/styles.scss</code>(here is global styles)
</div>
<div class="content">
  If you dont like my styles and you wanna learn angular 5 , just fork my repository and use it
</div>
<div class="content">
  Thanks <a href="https://github.com/gothinkster" class="user-link">@Thinkster</a> for open api
</div>
