@import "~sass/variables";

:host{

  .login-form{
    width: 346px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: transparent;
    text-align: left;
    color: #a5667e;
    text-shadow: 0 1px 1px rgba(166, 101, 125, 0.51);
    label{
      padding: 5px 0 20px;
      input{
        display: block;
        width: 100%;
        padding: 10px 0 5px;
        font-size: 16px;
        border: none;
        box-shadow: 0 1px 0 0 #9d657a;
        background: transparent;
        color: #a6657d;
        text-shadow: 0 1px 1px #a5657d;
        font-family: "Comfortaa", cursive;
        &.ng-invalid{
          &:not(.ng-pristine){
            box-shadow: 0 1px 0 0 $bad-color;
            color: $bad-color;
            text-shadow: 0 1px 1px $bad-color;
          }
        }
        &.ng-valid {
          color: #2aa750 !important;
          text-shadow: 0 1px 1px #47d071 !important;
        }
      }
    }

    &.ng-invalid{
      &:not(.ng-pristine){
        button.apply{
          opacity: 0.7;
          background: #aaaaaa;
          box-shadow: 0 0 0 #aaaaaa;
          cursor: not-allowed;
        }
      }
    }
  }

  .form-actions{
    display:flex;
    justify-content: center;
  }
}

button.apply {
  padding: 5px;
  min-width: 128px;
  font-size: 16px;
  font-family: $default-font-family;
  border-radius: 15px;
  border: none;
  text-align: center;
  color: white;
  background: #75c574;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.53);
  box-shadow: 0 1px 7px #75c574;
  transition: all 300ms ease;
  cursor: pointer;
}
