@import '~sass/variables';

:host{
  height:$footer-height;
  margin: $footer-layout-margin;
  position: relative;
  padding: calc(#{$footer-height} / 3) 1%;
  display: flex;
  background: #dddddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.39);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #7d7d7d;
  font-size: 14px;
}
