<label class="app-name">MyAngularApp
  <span class="user-fullname" *ngIf="isAuth">
    <span class="separator"></span> <user-photo [imageUrl]="user.image" [height]="'24px'" [width]="'24px'"></user-photo> {{user.username}}
  </span>
</label>
<div class="routes">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/account" routerLinkActive="active" *showAuth="true">Account</a>
  <div class="auth-routes">
    <span class="separator"></span>
    <div class="no-auth-routes" *showAuth="false">
      <a routerLink="/login" routerLinkActive="active">Sign in</a>
      /
      <a routerLink="/registration" routerLinkActive="active">Sign up</a>
    </div>
    <a *showAuth="true" (click)="logout()" class="logout">Sign out</a>
  </div>
</div>
