<label class="app-name">MyAngularApp
  <span class="user-fullname" *ngIf="user !== null">
    <span class="separator"></span> {{user.last_name}} {{user.first_name}}
  </span>
</label>
<div class="routes">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/account" routerLinkActive="active" *showAuth="true">Account</a>
  <div class="auth-routes">
    <span class="separator"></span>
    <a routerLink="/login" routerLinkActive="active" *showAuth="false" class="login">Sign in</a>
    <a *showAuth="true" (click)="logout()" class="logout">Sign out</a>
  </div>
</div>
