@import '~sass/variables';
@import '~sass/mixins';

:host {
  height: $header-height;
  position: fixed;
  z-index: 2;
  width: 100% - ($_horizontal-margin * 2);
  top: 0;
  padding: calc(#{$header-height} / 3) calc(#{$header-height} / 3);
  display: flex;
  margin: $header-layout-margin;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.39);
  justify-content: space-between;
  @include linear-gradient-background($common-color2, 55%, $common-color1, 100%);
  transition: all 350ms ease;
  &.auth {
    .auth-routes {
      display: inline-block;
    }
    .no-auth-routes {
      display: none !important;
    }
  }
  &:not(.auth) {
    .auth-routes {
      display: none !important;
    }
  }
  @media only screen and (max-width: 580px) {
    &.menu-showed {
      height: 100%;
      border-radius: 0;
      @include linear-gradient-background(rgba($common-color2, 0.94), 33%, rgba($common-color1, 0.94), 80%);
      .menu {
        top: 0;
        pointer-events: all;
        margin-top: $header-height;
        div, a {
          opacity: 1;
        }
      }
      .menu-button {
        svg {
          path {
            d: path('M 357 35.7 L 321.3 0 L 178.5 142.8 L 35.7 0 L 0 35.7 L 142.8 178.5 L 0 321.3 L 35.7 357 L 178.5 214.2 L 321.3 357 L 357 321.3 L 214.2 178.5 Z');
          }
        }
      }
    }

    &.auth {
      .auth-routes {
        display: block;
      }
    }
    &:not(.auth) {
      .no-auth-routes {
        display: block;
      }
    }
  }
}

.menu {
  .auth-routes, .no-auth-routes {
    display: inline-block;
  }
  .no-auth-routes {
    a {
      &:not(.active) {
        color: $menu-auth-links-color;
      }
    }
  }
  a {
    text-decoration: underline;
    color: #a4647c;
    padding: 5px;
    cursor: pointer;
    &.logout {
      color: $menu-logout-link-color;
    }
    &.active {
      background: $main-color;
      color: white;
      text-decoration: none;
    }
  }

}

.menu-button {
  display: none;
  width: 28px;
  height: 28px;
  right: calc(#{$header-height} / 3);
  position: absolute;
  top: calc(#{$header-height} / 4);
  cursor: pointer;
  svg {
    height: inherit;
    width: inherit;
    fill: $main-color;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 580px) {
  .menu {
    display: block;
    pointer-events: none;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    margin-top: -100%;
    transition: all 350ms ease;

    div, a {
      display: block;
      width: 100%;
      opacity: 0;
      transition: opacity 500ms ease;
    }
    a {
      padding: 7% calc(#{$header-height} / 3);
      position: relative;
      &.logout:before {
        content: '';
        position: absolute;
        top: 0;
        width: calc(100% - (calc(#{$header-height} / 3) * 2));
        height: 2px;
        background: $neutral-color;
        border-radius: 5px;
        margin-right: calc(#{$header-height} / 3);
      }
    }
  }
  .menu-button {
    display: block;

    svg {
      path {
          transition: d .3s;
      }
    }
  }
}
