:host{
  .title{
    margin-bottom: calc(24px + 2vh + 2vw);
  }
}
.user-info {
  padding: 24px 0;
  /* width: 50%; */
  margin: auto;
  text-align: center;
  position: relative;
  >* {
    padding: 0 20px;
  }
  .main-info{
    display: inline-block;
    text-align: left;
    margin-bottom: -50px;
    position: relative;
    top: 50px;
  }
  > div {
    label{
      display:block;
      padding: 5px 0;
      span{
        padding-left: 5px;
      }
    }
  }
}
