<div class="title">
  <span>Your account</span>
</div>
<div class="user-info">
  <div class="main-info">
    <div class="title">Profile</div>
    <img class="profile-image" *ngIf="user.image; then defaultUserImage" src="{{user.umage}}" alt="">
    <img class="profile-image" #defaultUserImage src="../../assets/default-user-photo.png" alt="">
    <label>
      Username: <span>{{user.username}}</span>
    </label>
    <label>
      Email: <span>{{user.email}}</span>
    </label>
    <label>
      Created at: <span>{{user.createdAt | date:'dd.MM.yyyy HH:mm'}}</span>
    </label>
    <label>
      Bio: <span>{{user.bio}}</span>
    </label>
  </div>
</div>
